@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

html, body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #fefefe;
    font-family: 'Cardo', serif;
}

.logo-img{
    max-width: 200px;
}

.nav-link{
    color: black;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
    font-size: small;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-container {
display: flex;
background-color: #f3ebe6;
width: 100%;
height: 300px;
align-items: stretch;
justify-content: center;
}

.contatti {
    flex-grow: 1;

}


.titolo-contatti {
    display: flex;
    height: 100px;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 10px;
    margin-left: 70px;
    font-size: small;
    letter-spacing: 3px;
    }

.testo-contatti {
    display: flex;
    height: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    font-size: x-small;
    margin-left: 70px;
    letter-spacing: 1px;

}

.icone-contatti {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 70px;
}

.facebook {
    width: 5px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.instagram {
    width: 8px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 30px;
}

.menu-footer {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
align-content: center;
align-items: center;
}

.menu-menu-footer {
    max-width: 100%;
    height: 100px;
    margin-top: 20px;
letter-spacing: 1px;

}

.icona-menu-footer {
    width: 140px;
    padding-bottom: 15px;
    padding-top: 30px;
align-items: center;

}

.divider-menu-footer {
    width: 100%;
    height: 1px;
    background-color: black;
    
}


.copyright {
    flex-grow: 1;
    display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: center;
margin-right: 70px;

}

.titolo-copyright {
    display: flex;
    font-size: medium;
    margin-bottom: 20px;
    margin-top: -60px;
    letter-spacing: 3px;
}

.testo-copyright {
    display: flex;
    font-size: 5px;
    font-size: small;
letter-spacing: 1px;
}

.link-copyright {
    display: flex;
    font-size: x-small;
}

.center-container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.titolo-categorie {
    display: flex;
    width: 10%;
    align-items: flex-start;
    padding-left: 200px;
    font-size: medium;
    letter-spacing: 3px;
    margin-top: 200px;
}

.testo-categorie {
    display: flex;
    width: 20%;
    align-items: flex-start;
    padding-left: 350px;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: x-small;
}

.descrizione-categorie {
    display: flex;
    width: 30%;
    align-items: flex-start;
    padding-left: 200px;
    text-align: left;
    margin-bottom: 40px;
    letter-spacing: 1px;
    font-size: 22px;
}

.leggidipiu {
    display: flex;
    width: 10%;
    align-items: flex-start;
    padding-left: 200px;

}

.foto {
    display: flex;
    width: 600px;
    margin-left: 650px;
    margin-top: -200px;
    margin-bottom: 100px;
    align-items: flex-end;
}

.titolo-portfolio {
display: flex;
margin-top: 60px;
}


.r-center-container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;

}

.r-titolo-categorie {
    display: flex;
    width: 10%;
    font-size: medium;
    letter-spacing: 3px;
margin-left: 800px;
margin-top: -450px;
}

.r-testo-categorie {
    display: flex;
    width: 20%;
    margin-bottom: 20px;
    font-size: x-small;
    margin-left: 950px;
    margin-top: -20px;
}

.r-descrizione-categorie {
    display: flex;
    width: 30%;   
    letter-spacing: 1px;
    font-size: 22px;
    margin-left: 800px;
    text-align: left;
}

.r-leggidipiu {
    display: flex;
    width: 10%;
   margin-top: 20px;
   margin-left: 800px;
}

.r-foto {
    display: flex;
    width: 600px;
    align-items: flex-start;
    margin-left: 150px;
    margin-top: 70px;
    margin-bottom: 70px;
}


